<?xml version="1.0"?>
<launch>
  <arg name="name" default="pi"/>
<!--
  <group ns="$(arg name)">
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <node name="main" pkg="mast_pi_zero" type="main_node"/>
-->
    <node name="raspicam" pkg="mast_pi_zero" type="raspicam_node">
      <param name="framerate" value="0.5" />
      <param name="quality" value="90" />
    </node>
    <node name="serial" pkg="mast_pi_zero" type="serial_node">
      <param name="baudrate" value="460800" />
      <param name="port" value="/dev/ttyAMA0" />
    </node>
    <node name="motor" pkg="mast_pi_zero" type="motor_node.py"/>
<!--
  </group>
-->
</launch>
