<?xml version="1.0"?>
<launch>
  <arg name="name" default="pi"/>
<!--
  <group ns="$(arg name)">
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <node name="main" pkg="mast_pi_zero" type="main_node"/>
-->
    <node name="raspicam" pkg="raspicam" type="raspicam_node">
      <param name="framerate" value="1"/>
      <param name="quality" value="20"/>
      <param name="width" value="430"/>
      <param name="height" value="270"/>
    </node>

    <node name="serial" pkg="mast_pi_zero" type="serial_node" output="screen">
      <param name="baudrate" value="1000000" />
      <param name="port" value="/dev/ttyAMA0" />
    </node>
    <node name="motor" pkg="mast_pi_zero" type="motor_node.py"/>
    <node name="start_camera" pkg="rosservice" type="rosservice" args="call --wait camera/start_capture"/>
<!--
  </group>
-->
</launch>
