<?xml version="1.0"?>
<launch>
  <arg name="name" default="beta"/>
  <arg name="websocket" default="192.168.1.6"/>
  <arg name="pose_topic" default="pose"/>
    <node name="vicon" pkg="mast_pi_zero" type="vicon_node.py" output="screen">
			<param name="name" value="$(arg name)"/>
			<param name="websocket" value="$(arg websocket)"/>
			<param name="pose_topic" value="$(arg pose_topic)"/>
		</node>
</launch>
